@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --red-logo: #9b1a2e;
    --green-logo: #488b4a;
    --roboto: "Roboto", sans-serif;
    --body:#4ed28e50;
    --sidebar:#61CE70;
}

body {
    margin: 0;
    font-family: var(--roboto);
}

.main{
    margin-top: 10%;
    background-color: rgba(252, 252, 252, 0.8) ;
    display: flex;
    border-radius: 4px;
    padding: 100px;
    height: auto;
    flex-direction: column;
    gap: 50px;
    width: 75%;
    margin-left: 20.8%;
}

.forms{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.seletor-empresa {
    padding: 50px;
    background-color: rgba(131, 178, 132, 0.7);
    border-radius: 4px;
}
.seletor-empresa select {
    width:100%;
    height:30px;
    font-family: var(--roboto);
    font-size:22px;
    border-radius: 4px;
    }
    
.seletor-empresa select option {
    font-size:20px;
    border-radius: 4px;
    } 

.seletor-empresa button{
    padding: 6px;
    border-radius: 5px;
    background-color: var(--red-logo);
    color: white;
    font-size: 18px;
    font-family: var(--roboto);
    cursor: pointer;
    border: none;
    justify-content: center;
}

.seletor-empresa button:hover{
    color: var(--green-logo);
}

.dados-procedimentos{
    padding: 50px;
    background-color: rgba(131, 178, 132, 0.7);
    border-radius: 4px;
    display: flex;
    }

.dados-procedimentos label {
    font-size: 17px;
    font-family: var(--roboto);
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.807);
    cursor: pointer;

}

.dados-procedimentos input {
    width: 250px;
    padding: 15px;
    font-size: 15px;
    border-radius: 5px;
    margin: 10px;
    background-color: white;
    height: 10px;
    cursor: pointer;
}

.dados-procedimentos button {
    padding: 6px;
    border-radius: 5px;
    background-color: var(--red-logo);
    color: white;
    font-size: 18px;
    font-family: var(--roboto);
    cursor: pointer;
    border: none;
    margin-left: 12px;
}

.dados-procedimentos button:hover {
    color: var(--green-logo);
}

.exibicao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(131, 178, 132, 0.7);
    border-radius: 4px;
    padding: 20px;

}

.exibicao h3{
    background-color: white;
    padding: 8px;
    border-radius: 10px;
}

.exibicao table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
    border: 0.8px solid black;
    padding: 20px;
    background-color: rgba(252, 252, 252, 0.8);

  }
  
.exibicao table th, td {
text-align: center;
border: 0.8px solid black;
padding: 10px;

}

.exibicao table th {
background-color: var(--red-logo);
color: white;
}

.exibicao table td a {
    display: inline-block; 
    text-decoration: none;
    background-color: var(--red-logo);
    border-radius: 10px;
    padding: 5px; 
    color: white;
    max-width: 100%; 
    box-sizing: border-box; 
}

.exibicao table td a:hover {
    color: var(--green-logo);
} 