
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

table {
    border-collapse: collapse;
    margin-top: 30px;
    width: 60%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    width: auto;
}


th {
    background-color: rgb(255, 255, 255);
}

tbody tr:nth-child(even) {
    background-color: rgb(161, 160, 160); 
}

tbody tr:nth-child(odd) {
    background-color: rgb(119, 119, 119); }