@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --red-logo: #9b1a2e;
    --green-logo: #488b4a;
    --roboto: "Roboto", sans-serif;
    --body:#4ed28e50;
    --sidebar:#61CE70;
}

body {
    margin: 0;
    font-family: var(--roboto);
}

.main{
    margin-top: 5%;
    background-color: rgba(252, 252, 252, 0.8) ;
    border-radius: 10px;
    padding: 50px;
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.report-title {
    background-color: var(--red-logo);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.flex-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-filters {
    flex: 1; 
    background-color: rgba(131, 178, 132, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    margin-right: 10px;
}

h3 {
    margin-bottom: 10px;
    padding: 5px;
    color: black;
    font-size: 20px;
}

.new-report-label {
    font-size: 18px;
    font-family: var(--roboto);
    font-weight: bolder;
    color: var(--red-logo);
    cursor: pointer;
    margin-top: 20px;
}

.date {
    margin-left: 10px;
    margin-top: 10px;
}

.beggining {
    font-size: 18px;
    font-weight: bolder;
}

.input-date {
    margin-top: 10px;
    margin-bottom: 10px;
}

.end {
    font-size: 18px;
    font-weight: bolder;
}

.date input[type="date"] {
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
}

.secondary-filters {
    display: flex;
    display: column;
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
}
