@media print {
    @page {
        margin: 0;
    }
    header, footer {
        display: none;
    }
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;

}

header{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.nome-empresa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

.nome-empresa h4{
    margin-top: -20px;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: 100px;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.img img{
    width: 250px;
    height: 150px;
}
.titulo-header{
    margin-top: -60px;
    display: flex;
    justify-content: center;
    width: 800px;
    gap: 5px;
}

.subtitulo-header{
display: flex;
gap: 10px;
align-items: center;
justify-content: center;
margin-top: -30px;
}

table {
    border-collapse: collapse;
    margin-top: 30px;
    width: auto;
}


th, td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
    text-align: left;
    min-width: 100%;
}

.nome-paciente{
    width: 220px;
}

th {
    background-color: rgb(255, 255, 255);
}
.quebra{
    page-break-before: always
}


/* @media print {
    .elemento{
    display: none;
    }
  } */