* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --red-logo: #9b1a2e;
    --green-logo: #488b4a;
    --roboto: "Roboto", sans-serif;
    --body:#4ed28e50;
    --sidebar:#61CE70;
}

body {
    margin: 0;
    font-family: var(--roboto);
    background-color: var(--body);
}

.icons-main {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.logout-icon:hover {
    scale: 1.1;
    transition: 0.2s;
    cursor: pointer;
}

.sidebar {
    background-color: var(--green-logo);
    position: fixed;
    top: 0 ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 240px;
    height: 100%;
    padding: 40px 10px 30px 25px;
    border-right: 1px solid #2f3336;
    transition: all 0.4s;
}

.img-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 235px;
    margin-left: 25px;
    margin-top: 8px;
}

.img-logo:hover {
    scale: 1.1;
    transition: 0.2s;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 17px;
}

.sidebar button{
    height: 60px;
    background: transparent;
    border: 0;
    font-family: inherit;
    color: inherit;
    cursor:pointer;
    text-align: left;
    padding: 0;
}

.sidebar button > span {
    background: var(--red-logo);
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    width: 180px;
    padding: 0 16px 0 12px;
    border-radius: 10px;
    line-height: 1;
    transition: all 0.2s;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.175);

}

.sidebar button:hover > span {
    background: rgba(255, 255, 255, 0.08);
}

.sidebar button i {
    position: relative;
    font-size: 28px;
    transition: 0.2;
}

.sidebar button span {
    font-size: 17px;
    color: #fff;
}

.sidebar > nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sidebar-nav-button-span2{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* responsividade sidebar */

@media screen and (max-width:920px){
    
    .img-logo {
        opacity: 0;
        visibility: hidden;
    }
    
    .sidebar{
        width: 72px
    }

    .sidebar button > span {
        width: 50px;
    }

    .sidebar button > span > span {
        opacity: 0;
        visibility: hidden;
    }
    
}

/* fim responsividade sidebar */


.main{
    margin-left: 266px;
    margin-right: 6px;
    overflow: hidden;
}

@media screen and (max-width:1890px) {
    .main {
        margin-left: 300px;
    }
}

@media screen and (max-width:1680px) {
    .main {
        margin-left: 266px;
    }
}

@media screen and (max-width:1540px) {
    .main {
        margin-left: 256px;
    }
}

@media screen and (max-width:1280px) {
    .main {
        margin-left: 250px;
    }
}

@media screen and (max-width:920px) {
    .main {
        transition: margin 0.4s;
        margin-left: 78px;
    }
}